*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;

}

html{
    font-size: 62.5%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.text__box{
   width:30rem;
}
.heading{
    font-size:4rem;
}
.para{
    font-size:1.5rem;
    margin:1rem 0;
    font-family: 'Open Sans', sans-serif;
}
button{
    font-family: 'Open Sans', sans-serif;
    border:none;
    background-color: black;
    color:white;
    margin:2rem 0;
    padding:.5rem;
    width:12rem;
    font-size: 1.5rem;
}
.images__box{
    display: flex;
}
.background__box{
    width:70rem;
    height:65.6rem;
    background-color:#292D33;
    position:relative;
    top:.1rem;
    left:18.3rem;
}
.camera__man img{
   width:35rem;
   height:45rem;
   position:absolute;
   bottom:5rem;
   border:10px solid white;
}
.camera img{
    width:35rem;
    height:40rem;
    position:absolute;
    bottom:18rem;
    right:8rem;
    border:10px solid white;
}






@media(max-width:480px){
    .text__box{
        margin-top:2rem;
     }
     .heading{
         font-size:3rem;
     }
     .para{
         font-size:1.5rem;
         margin:1rem 0;
         font-family: 'Open Sans', sans-serif;
     }
     button{
         font-family: 'Open Sans', sans-serif;
         border:none;
         background-color: black;
         color:white;
         margin:2rem 0;
         padding:.5rem;
         width:12rem;
         font-size: 1.5rem;
     }
     .background__box{
         width:36.7rem;
         height:60rem;
         background-color:#292D33;
         position:absolute;
         left:0rem;
         /* bottom:40rem; */
         top:35rem;
     }
     .camera__man img{
        width:25rem;
        height:35rem;
        position:absolute;
        bottom:2rem;
        left:2rem;
        border:10px solid white;
     }
     .camera img{
         width:25rem;
         height:25rem;
         position:relative;
         top:40rem;
         left:5rem;
         border:10px solid white;
     }
     
}